
@mixin font-montserrat-regular () {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px; 
    letter-spacing: 0.2px;  
    color: #252B42;
}



@mixin font-montserrat-medium () {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

@mixin font-montserrat-semibold () {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

@mixin font-montserrat-bold () {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

@mixin font-montserrat-extrabold () {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

@mixin font-montserrat-button () {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
}