.account {
    display: flex;
    align-items: center;

    &__item {
        margin-left: 126px;
        margin-right: 43px;

    }

    &__avatar {
        display: flex;
        width: 56px;
        height: 56px;
    }

    &__login {
        @include font-montserrat-text ();

        &-elem {
            margin-left: 12px;
        }
    }
}