.product {

    &-page {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 62px;

        &__elem {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            border: 1px solid #8EC2F2;
            border-radius: 5px;
            @include font-montserrat-medium;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.2px;
            color: #8EC2F2;
        }

        &-arrow {
            width: 50px;
            height: 40px;

            &--revers {
                transform: rotate(180deg);
            }
        }

        &-number {
            width: 40px;
            height: 40px;
            margin-left: 17px;    
        }

        &-point {
            display: flex;
            margin-left: 14px;
            margin-right: 14px;

            &__elem {
            width: 7px;
            height: 7px;
            border-radius: 10px;
            background: #8EC2F2;

                &:not(:first-child) {
                    margin-left: 4px;
                }
            }
        }
    }
}