.title-section {
    text-align: center;

    &__home {
        padding-top: 134px;
        padding-bottom: 134px;
    }

    &__name {
        @include font-montserrat-bold;
    }

    &__subtitle {
        @include font-montserrat-extrabold;

        &-margin {
            margin: 8px 0px;
        }
    }

    &__slogan {
        @include font-montserrat-medium;
    }
}