.product {

    &-sidebar {
        padding: 18px 18px 24px;
        width: 380px;
        height: 100%;
        border: 1px solid #E8E8E8;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background: #FFFFFF;

        &-search {
            height: 52px;
            background: #FCFCFC;
            border: 1px solid #DCDCDC;
            box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
            border-radius: 7px;
            display: flex;
            align-items: center;


            &-input {
                width: 100%;
                height: 100%;
                @include font-montserrat-medium;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.1px;
                color: #737373;
                padding-left: 23px;
                background: none;
                border: 0px;
            }

            &-img {
                width: 20px;
                height: 21px;
                flex-shrink: 0;
                margin-right: 15px;
            }
        }

        &-menu {
            margin-top: 20px;
            padding: 30px 35px;
            border: 1px solid #E8E8E8;
            border-radius: 5px;
            background: #FFFFFF;

            &__elem {
                display: flex;

                &:not(:last-child) {
                    margin-bottom: 18px;
                }
            }
        }

        &-things {

            position: relative;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 22px;
            }

            & > input {
                display: none;

                &:checked {

                    & ~ .product-sidebar-things-list {
                        display: flex;
                    }

                    & ~ .product-sidebar-things-button {
                        
                        svg {
                            
                            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

                            rect {
                                fill: #2091F9;
                            }

                            path {
                                fill:#FFFFFF;
                            }
                        }
                    }
                }
            }

            &-button {
                display: flex;
                align-items: center;
                background: none;
                border: 0px;
                width: 100%;


            &-text {
                @include font-montserrat-bold ;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: #252B42;

            }

            &-img {
                width: 25px;
                height: 25px;
                border-radius: 28px;
                margin-left: auto;
            }
        }

            &-list {
                margin-top: 12px;
                display: flex;
                flex-direction: column;
                padding-bottom: 12px;
                border-bottom: 1px solid #E4E4E4;
                display: none;
                transition: all .2s ease-out;


                &__elem {
                    @include font-montserrat-semibold;
                    font-size: 14px;
                    line-height: 28px;
                    letter-spacing: 0.2px;
                    color: #737373;
                }
            }
        }

        &-title {
            @include font-montserrat-bold ;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: #252B42;
            margin-bottom: 24px;

            &-max {
                margin-bottom: 58px;
            }
        }

        &-check {
            display: flex;
        }

        &-name {
            margin-left: 15px;
            @include font-montserrat-semibold;
            font-size: 14px;
            color: #737373;
        }

        &-number {
            margin-left: auto;
            @include font-montserrat-semibold;
            font-size: 14px;
            color: #737373;
        }

        &-price {

                &-line {
                    position: relative;
                    width: 100%;
                    height: 6px;
                    background: #E6E6E6;
                    border-radius: 20px;
                    margin-bottom: 35px;

                    &-active {
                        position: absolute;
                        left: 65px;
                        height: 6px;
                        width: 151px;
                        background: #2DC071;
                        border-radius: 20px;
                        z-index: 1;
                    }
                    
                    &-point {
                        width: 13px;
                        height: 13px;
                        top: 50%;
                        z-index: 2;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        font-size: 0px;

                        &__second {
                            left: 144px;
                        }
                    }

                    &-number {
                        position: absolute;
                        padding-left: 6px;
                        padding-right: 6px;
                        background: #252B42;
                        border-radius: 2px;
                        @include font-montserrat-bold;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        top: -16px;
                        transform: translate(-50%, -50%);
                        left: 50%;

                        &:after {
                            content: "";
                            position: absolute;
                            width: 3px;
                            height: 3px;
                            background: #252B42;
                            top: 100%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(45deg);
                        }
                    }
                }

            &-input {
                height: 58px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__elem {
                    width: 129px;
                    height: 100%;
                    @include font-montserrat-medium;
                    font-size: 15px;
                    line-height: 16px;
                    letter-spacing: 0.1px;
                    color: #252B42;
                    padding-left: 25px;
                    background: #FFFFFF;
                    border: 1px solid #E0E0E0;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                }
            }
        }
    }
}
